.live-map-place {
    width: 100%;
    height: 100%;
    flex-grow: 2;

    >div {
        min-height: 100vh;
    }
}

button {
    position: fixed;
    right: 28px;
    bottom: 28px;
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    z-index: 9999;
    padding: 16px;
    font-size: 32px;
    border-radius: 50%;
}